*{
 margin:0;
 padding:0;
 font-family:'Poppins',sans-serif;
 box-sizing: border-box;
}

body{
    background: rgb(13, 29, 48);
}

.card{
    widows: 90%;
    max-width: 470px;
    background:linear-gradient(135deg,rgb(44, 123, 143),rgb(21, 69, 92));
    color:white;
    border-radius:20px;
    margin:100px auto 0;
    padding:40px 35px;
    text-align: center;
}

.search{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.search input{
    background:rgb(199, 220, 221);
    color:black;
    border:0;
    padding:10px 25px;
    height:60px;
    border-radius:30px;
    flex:1;
    margin-right:16px;
    font-size:18px;
}

.search button i{
    font-size: 30px;
    color:rgb(31, 27, 27);
}
.search button{
    background:rgb(199, 220, 221);
    border-radius:50%;
    height:60px;
    width:60px;
    border:0;
    cursor:pointer;
}

.weather-icon{
    width:170px;
    margin-top:30px;
}

.weather h1{
    font-size:80px;
    font-weight:500;
}

.weather h2{
    font-size:45px;
    font-weight:400;
    margin-top:-10px;
}

.details{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
    margin-top:50px;
}

.col{
    display:flex;
    align-items: center;
    text-align:left;
}

.col img{
    width:40px;
    margin-right:10px;
}

.humidity,.wind{
    font-size:28px;
    margin-top:-6px
}

.weather{
    display:none;
}
/* https://api.openweathermap.org/data/2.5/weather?lgermany&appid=688fe9fe282ecf742c54cc84a3639004 */


.error{
    text-align:left;
    margin-left:10px;
    font-size:14px;
    margin-top:10px;
    display:none;
}